params {
    pdb_file = "/AntiFold/data/pdbs/6y1l_imgt.pdb"
    heavy_chain = "H"
    light_chain = "L"
    antigen_chain = null
    nanobody_chain = null
    pdbs_csv = null
    pdb_dir = null
}

process {
    withLabel: antifold { container = "{{antifold:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
