params {
    max_records_per_partition = 1
    model_parameters = 's3://ddw-testing-588738610715/ref-data/esmfold/facebook/esmfold_v1/model.tar'
}

process {
    withLabel: esmfold { 
        container = "pytorch:latest" 
        cpus = 8
        memory = '24 GB'
        accelerator = "1, type: 'nvidia-tesla-a10g'"
        publishDir = "/mnt/workflow/pubdir"
        }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}