
params {
    src_bucket = "{{S3_BUCKET_NAME}}"
    src_prefix = "ref-data"

    model_weights = "s3://${src_bucket}/${src_prefix}/diffab/luost26/DiffAb/*.pt"
    sabdab_db = "s3://${src_bucket}/${src_prefix}/sabdab_db/all_structures.zip"
}

process {
    withLabel: diffab { container = "{{diffab:latest}}" }
}
