params {
    aws_region = "us-east-1" // set default region

    src_bucket = "mybucket"
    src_prefix = "test_data/rfdiffusion"

    model_parameters = "s3://${src_bucket}/${src_prefix}/model_parameters/"

    num_designs = 3
}

process {
    withLabel: predict { container = '123456789012.dkr.ecr.us-east-1.amazonaws.com/rfdiffusion:latest'}
}