params {
    aws_region = "us-east-1" // set default region

    // This will eventually be set to a public buckect from AWS
    // FIXME: TODO: This needs to be configured as a workflow input
    // So it's not hardcoded in the repo
    src_bucket = "bioteam-compchem-test-inputs"
    src_prefix = "rfdiffusion"

    model_parameters = "s3://${src_bucket}/${src_prefix}/model_parameters/"

    num_designs = 3
}

process {
    // TODO: FIXME: This should be passed as an input arg, so latest vs develop
    withLabel: predict { container = '123456789012.dkr.ecr.us-east-1.amazonaws.com/rfdiffusion:latest'}
}
