params {
    mmseq_db = "s3://{{S3_BUCKET_NAME}}/ref-data/colabfold_envdb/"
    uniref90 = "s3://{{S3_BUCKET_NAME}}/ref-data/uniref90/uniref90.fasta"
    uniref30 = "s3://{{S3_BUCKET_NAME}}/ref-data/uniref30/"
    mgnify = "s3://{{S3_BUCKET_NAME}}/ref-data/mgy/mgy_clusters_2022_05.fa.gz"
    pdb70 = "s3://{{S3_BUCKET_NAME}}/ref-data/pdb70/"
    uniclust30 = "s3://{{S3_BUCKET_NAME}}/ref-data/uniclust30/uniclust30_2018_08_hhsuite.tar.gz"
    bfd = "s3://{{S3_BUCKET_NAME}}/ref-data/bfd/"
    openfold_checkpoint = "s3://{{S3_BUCKET_NAME}}/ref-data/openfold/"
    pdb_mmcif_files = "s3://{{S3_BUCKET_NAME}}/ref-data/pdb_mmcif/"
}

process {
    withLabel: openfold { container = "{{openfold:latest}}"}
}
