params {
    mmseq_db = "s3://{{S3_BUCKET_NAME}}/ref-data/colabfold_envdb/"
    pdb70 = "s3://{{S3_BUCKET_NAME}}/ref-data/pdb70/"
    openfold_checkpoint = "s3://{{S3_BUCKET_NAME}}/ref-data/openfold/"
    pdb_mmcif_files = "s3://{{S3_BUCKET_NAME}}/ref-data/pdb_mmcif/"
}

process {
    withLabel: openfold { container = "{{openfold:latest}}"}
}
