params {
    config_file_name = 'example.yaml'
    boltzgen_parameters = "s3://{{S3_BUCKET_NAME}}/ref-data/boltzgen/boltzgen/boltzgen-1/"
    protocol_name = "protein-anything"
}

process {
    withLabel: boltzgen { container = "{{boltzgen:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all --shm-size=8G"
}
