
params {
    src_bucket = "{{S3_BUCKET_NAME}}"
    src_prefix = "ref-data"

    renew_maps = false
    renew_residues = true
    n_filters = 4
    filter_size = 4
    pooling_size = 1
    n_max_epochs = 1044
    modes = "all"
    stage = "predicting"

    sabdab_db = "s3://${src_bucket}/${src_prefix}/sabdab_db/all_structures.zip"
}

process {
    withLabel: antipasti { container = "{{antipasti:latest}}" }
}
