
params {
    src_bucket = "{{S3_BUCKET_NAME}}"
    src_prefix = "ref-data"

    model_weights = "s3://${src_bucket}/${src_prefix}/rfantibody/*.pt"

    is_hlt = true
    heavy_chain_id = "H"
    light_chain_id = "L"
    target_chains = null
}

process {
    withLabel: rfantibody { container = "{{rfantibody:latest}}" }
}
