accelerate
anarci@git+https://github.com/openmm/pdbfixer.git
biopython
click!=8.1.0
cloudpathlib
dm-tree
dvc==2.58.2
dvc-s3==2.22.0
dvclive==2.11.0
einops
ImmuneBuilder
levenshtein
lightning>=2.0.4
loguru
ml_collections
numpy<2.0.0
pandas==1.5.3
pdbfixer@git+https://github.com/openmm/pdbfixer.git
pyfastx
python-box
scipy==1.10.1
sentencepiece
tensorboard
tensorboardX
torch>=2.0.0
torchvision
torchaudio
transformers
tqdm
typer
