params {
    num_str_designs_per_target = 5
    num_seq_designs_per_str = 5
    rfdiffusion_model_parameters = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/Complex_Fold_base_ckpt.pt"
    proteinmpnn_model_parameters = "s3://{{S3_BUCKET_NAME}}/ref-data/proteinmpnn/abmpnn.pt"
    proteinmpnn_model_name = "abmpnn"
    esmfold_model_parameters = "s3://{{S3_BUCKET_NAME}}/ref-data/esmfold/facebook/esmfold_v1/model.tar"
}

process {
    withLabel: rfdiffusion { container = "{{rfdiffusion:latest}}"}
    withLabel: esmfold { container = "{{pytorch:latest}}"}
}