params {
    num_str_designs_per_target = 5
    num_seq_designs_per_str = 5
    rfdiffusion_model_parameters = "s3://ddw-testing-588738610715/ref-data/rfdiffusion/Complex_Fold_base_ckpt.pt"
    proteinmpnn_model_parameters = "s3://ddw-testing-588738610715/ref-data/proteinmpnn/abmpnn.pt"
    proteinmpnn_model_name = "abmpnn"
    esmfold_model_parameters = "s3://ddw-testing-588738610715/ref-data/esmfold/facebook/esmfold_v1/model.tar"
}

process {
    withLabel: rfdiffusion { container = "rfdiffusion:latest"}
    withLabel: esmfold { container = "plm:latest" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}