
params {
    src_bucket = "{{S3_BUCKET_NAME}}"
    src_prefix = "ref-data"

    model_weights = "s3://${src_bucket}/${src_prefix}/deepstabp/Rostlab/prot_t5_xl_uniref50/"
    growth_temp = 22
    measurement_type = "Cell"
}

process {
    withLabel: deepstabp { container = "{{deepstabp:latest}}" }
}
