params {
    base_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/Base_ckpt.pt"
    complex_base_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/Complex_base_ckpt.pt"
    complex_Fold_base_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/Complex_Fold_base_ckpt.pt"
    inpaintSeq_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/InpaintSeq_ckpt.pt"
    inpaintSeq_Fold_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/InpaintSeq_Fold_ckpt.pt"
    activeSite_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/ActiveSite_ckpt.pt"
    base_epoch8_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/Base_epoch8_ckpt.pt"
    complex_beta_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/Complex_beta_ckpt.pt"
}

process {
    withLabel: predict { container = "{{rfdiffusion:latest}}"}
}