params {
    uniref30_db_path = "s3://{{S3_BUCKET_NAME}}/ref-data/colabfold_uniref30"
    envdb_db_path = "s3://{{S3_BUCKET_NAME}}/ref-data/colabfold_envdb"
    pdb100_db_path = "s3://{{S3_BUCKET_NAME}}/ref-data/colabfold_pdb100"
    is_complex = 1
    filter = 1
    expand_eval = 9223372036854775807
    align_eval = 10
    diff = 3000
    qsc = -20.0
    max_accept = 1000000
    pairing_strategy = 0
    db_load_mode = 2
    unpack = 1
    gpu_server = 0
}

process {
    withLabel: colabfold_search { container = "{{mmseqs2:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
