params {
    max_records_per_partition = 8
    model_parameters = "s3://ddw-testing-588738610715/ref-data/esm2_parameters/facebook/esm2_t33_650M_UR50D/model.tar"
}

process {
    withLabel: generate_embeddings { container = "pytorch:latest" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}