params {
    window_size_predictions = 81
    portion_size = 1000

    prot_t5_params = "s3://{{S3_BUCKET_NAME}}/ref-data/temstapro/Rostlab/prot_t5_xl_half_uniref50-enc/"
}

process {
    withLabel: temstapro { container = "{{temstapro:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
