params {
    model_parameters_1 = 's3://{{S3_BUCKET_NAME}}/ref-data/abodybuilder3_parameters/nanobody_model_1'
    model_parameters_2 = 's3://{{S3_BUCKET_NAME}}/ref-data/abodybuilder3_parameters/nanobody_model_2'
    model_parameters_3 = 's3://{{S3_BUCKET_NAME}}/ref-data/abodybuilder3_parameters/nanobody_model_3'
    model_parameters_4 = 's3://{{S3_BUCKET_NAME}}/ref-data/abodybuilder3_parameters/nanobody_model_4'
}

process {
    withLabel: abodybuilder3 { container = "{{abodybuilder3:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
