params {
    num_str_designs_per_target = 5
    num_seq_designs_per_str = 5
    complex_Fold_base_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion_parameters/Complex_Fold_base_ckpt.pt"
    proteinmpnn_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/proteinmpnn_parameters/abmpnn.pt"
    proteinmpnn_model_name = "abmpnn"
}

process {
    withLabel: rfdiffusion { container = "{{rfdiffusion:latest}}"}
}
