params {
    num_str_designs_per_target = 5
    num_seq_designs_per_str = 5
    complex_Fold_base_ckpt = "s3://ddw-testing-588738610715/ref-data/rfdiffusion/Complex_Fold_base_ckpt.pt"
    proteinmpnn_ckpt = "s3://ddw-testing-588738610715/ref-data/proteinmpnn/abmpnn.pt"
    proteinmpnn_model_name = "abmpnn"
}

process {
    withLabel: rfdiffusion { container = "rfdiffusion:latest"}
}

docker {
    enabled = true
    runOptions = "--gpus all"
}