params {
    aws_region = "us-east-1" // set default region

    model = "s3://mybucket/esmfold/esmfold-model.tar"
    weights = "s3://mybucket/esmfold/esmfold-weights.tar"
    max_length = 1024
}

process {
    withLabel: predict { container = '123456789012.dkr.ecr.us-east-1.amazonaws.com/bionemo_esmfold_nim:24.03.01'}
}