biopython==1.83
biotite==0.40.0
boto3
cloudpathlib
"cryptography>=42.0.5"
einops==0.8.0
msgpack_numpy==0.4.8
nvgpu==0.10.0
opencv-python==4.9.0.80
"prompt-toolkit<3.0.39"
"pyopenssl>=24.0.0"
scipy==1.13.0
tokenizers==0.19.1
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
torchtext==0.18.0
torchdata==0.7.1
transformers==4.41.0
triton==2.3.0
"urllib3>=1.26.18,<2"
git+https://github.com/Dao-AILab/flash-attention.git#subdirectory=csrc/rotary