params {
    max_edit = 60
    noise = 0.01
    num_cpus = 16

    GL_target_score_H = 0.40
    GL_allow_CDR_mutations_H = false
    GL_fixed_imgt_positions_H = []

    CNN_target_score_H = 0.95
    CNN_allow_CDR_mutations_H = false
    CNN_fixed_imgt_positions_H = []

    GL_target_score_L = 0.40
    GL_allow_CDR_mutations_L = false
    GL_fixed_imgt_positions_L = []

    CNN_target_score_L = 0.95
    CNN_allow_CDR_mutations_L = false
    CNN_fixed_imgt_positions_L = []

    CNN_target_score_P = 0.95
}

process {
    withLabel: humatch { container = "{{humatch:latest}}" }
}

