params {
    aws_region = "us-east-1" // set default region
    molmim_script = "s3://{mybucket}/nab/scripts/molmim_generate.py"
    alphafold2_script = "s3://{mybucket}/nab/scripts/alphafold2_predict.py"
    diffdock_script = "s3://{mybucket}/nab/scripts/diffdock/script/run_diffdock.py"
    molmim_model = "s3://{mybucket}/molmim/"
    alphafold2_model = "s3://{mybucket}/alphafold2/"
    diffdock_model = "s3://{mybucket}/diffdock/models/"
}

process {
    withLabel: molmim { container = '{myrepo4molmim:1.0.0}'}
    withLabel: alphafold2 { container = '{myrepo4alphafold2:1.0.0}'}
    withLabel: diffdock { container = '{myrepo4diffdock:1.2.0}'}
}