params {
    aws_region = "us-east-1" // set default region
    tx_model_path = "s3://hodgkin-spt-data-us-east-1/static_data/aalphabio/models/alphabind_pretrained_checkpoint.pt"
    esm2nv_path = "s3://ddw-alphabind-dev/ref-data/alphabind_parameters/esm2nv3b_v1.0/esm2nv_3B_converted.nemo"
    tokenizer_path = "s3://ddw-alphabind-dev/ref-data/alphabind_parameters/facebook/"
}

process {
    withLabel: alphabind_container { container = "588738610715.dkr.ecr.us-east-1.amazonaws.com/alphabind:latest" }
}