params {
    aws_region = "us-east-1" // set default region
    tx_model_path = "s3://{{S3_BUCKET_NAME}}/ref-data/alphabind_parameters/alphabind_pretrained_checkpoint.pt
    esm2nv_path = "s3://{{S3_BUCKET_NAME}}/ref-data/alphabind_parameters/esm2nv3b_v1.0/esm2nv_3B_converted.nemo"
    tokenizer_path = "s3://{{S3_BUCKET_NAME}}/ref-data/esm2_parameters/facebook/esm2_t33_650M_UR50D/"
}

process {
    withLabel: alphabind_container { container = "{{alphabind:latest}}" }
}