params {
    aws_region = "us-east-1" // set default region
    suppress_print = 0
    ca_only = false
    path_to_model_weights = 's3://my-bucket/proteinmpnn/training/exp_020/model_weights/'
    model_name = "epoch_last"
    use_soluble_model = false
    seed = 0
    save_score = 0
    save_probs = 0
    score_only = 0
    path_to_fasta = ""
    conditional_probs_only = 0
    conditional_probs_only_backbone = 0
    unconditional_probs_only = 0
    backbone_noise = 0.00
    num_seq_per_target = 1
    batch_size = 1
    max_length = 200000
    sampling_temp = "0.1"
    out_folder = "output"
    pdb_path = ""
    pdb_path_chains = ""
    jsonl_path = ""
    chain_id_jsonl = ""
    fixed_positions_jsonl = ""
    omit_AAs = "X"
    bias_AA_jsonl = ""
    bias_by_res_jsonl = ""
    omit_AA_jsonl = ""
    pssm_jsonl = ""
    pssm_multi = 0.0
    pssm_threshold = 0.0
    pssm_log_odds_flag = 0
    pssm_bias_flag = 0
    tied_positions_jsonl = ""
}
