antipickle==0.2.0
beartype==0.19.0
biopython==1.84
einops==0.8.0
gemmi==0.7.0
jaxtyping==0.2.36
modelcif==1.2
numba==0.60.0
numpy==2.0.2
pandas[parquet,aws]==2.2.3
pandera==0.21.1
pyfastx==2.1.0
rdkit==2024.3.6
tmtools==0.2.0
torch==2.5.1+cu124
tqdm==4.67.1
transformers==4.47.0
typer==0.15.1
