params {
    parallel_chains = 5
    n_steps = 20
    max_mutations = 10
    output_type = 'all'
    preserved_regions = 'None'
    plm_model_files = "s3://hodgkin-spt-data-us-east-1/static_data/huggingface/facebook/esm2_t6_8M_UR50D/"
    plm_scorer_model_files = null
    plm_scorer_num_labels = null
    onehot_scorer_model_files = null
}

process {
    withLabel: evoprotgrad { container = "{{evoprotgrad:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
