params {
    parallel_chains = 5
    n_steps = 20
    max_mutations = 10
    output_type = 'all'
    preserved_regions = 'None'
    plm_model_files = 's3://{{S3_BUCKET_NAME}}/ref-data/esm2_parameters/facebook/esm2_t33_650M_UR50D/'
}

process {
    withLabel: evoprotgrad { container = "{{evoprotgrad:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
