params {
    parallel_chains = 5
    n_steps = 20
    max_mutations = 10
    output_type = 'all'
    preserved_regions = 'None'
    plm_model_files = 'None'
    plm_scorer_model_files = 'None'
    plm_scorer_num_labels = null
    onehot_scorer_model_files = 'None'
}

process {
    withLabel: evoprotgrad { container = "{{evoprotgrad:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
