params {
    aws_region = "us-east-1" // set default region

    src_bucket = "ajfriedm-healthomics-data-us-east-1"
    src_prefix = "test_data/proteinmpnn"

    model_parameters = "s3://${src_bucket}/${src_prefix}/model_parameters/"

    max_length = 200000
    num_seq_per_target = 1
    batch_size = 1
}

process {
    withLabel: predict { container = '{{proteinmpnn:latest}}'}
}