name: Chai-1
description: "This workflow predicts the 3D structures for one or more biomolecules (protein, nuleic acid, and/or ligand) using the Chai-1 model from Chai Discovery."
engine: NEXTFLOW
main: main.nf
parameterTemplate:
  fasta_file:
    description: "Path to .fasta containing input sequences"
    optional: false
  msa_directory:
    description: "Optional path to folder containing .a3m files of MSA hits"
    optional: true
  template_hits_path: 
    description: "Optional path to .m8 file containing template hits"
    optional: true
  constraints_path:
    description: "Optional path to .csv file containing constraints information"
    optional: true
  pdb_snapshot_path:
    description: "Optional path to folder containing snapshot structures from rcsb pdb"
    optional: true
  chai1_parameters:
    description: "Path to folder containiner Chai-1 model parameters."
    optional: true    
  recycle_msa_subsample:
    description: "Number of msa subsample recycles. Defaults to 0."
    optional: true
  num_trunk_recycles:
    description: "Number of trunk recycles. Defaults to 3."
    optional: true
  num_diffn_timesteps:
    description: "Number of diffusion steps. Defaults to 200."
    optional: true
  num_diffn_samples:
    description: "Number of diffusion samples. Defaults to 5."
    optional: true    
  num_trunk_samples:
    description: "Number of trunk samples. Defaults to 1."
    optional: true
  seed:
    description: "Seed value. Defaults to none."
    optional: true
storageType: "DYNAMIC"
tags:
  Name: "Chai1"
accelerators: GPU
