params {
    fasta_file = '/home/examples/chai_example.fasta'
    msa_directory = '/opt/scripts/NO_MSA'
    template_hits_path = '/opt/scripts/NO_TEMPLATE'
    constraints_path = '/opt/scripts/NO_CONSTRAINTS'
    pdb_snapshot_path = "s3://{{S3_BUCKET_NAME}}/ref-data/pdb_20240101/"
    chai1_parameters = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/'
    recycle_msa_subsample = 0
    num_trunk_recycles = 3
    num_diffn_timesteps = 200
    num_diffn_samples = 5
    num_trunk_samples = 1
    seed = ''
    
}

process {
    withLabel: chai1 { container = "{{chai-1:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
