params {
    num_diffn_timesteps = 200
    num_trunk_recycles = 3
    bond_loss_input_proj = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/bond_loss_input_proj.pt'
    confidence_head = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/confidence_head.pt'
    conformers_v1 = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/conformers_v1.apkl'
    diffusion_module = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/diffusion_module.pt'
    feature_embedding = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/feature_embedding.pt'
    token_embedder = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/token_embedder.pt'
    trunk = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/trunk.pt'
    esm2_config = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/facebook/esm2_t36_3B_UR50D/config.json'
    esm2_pytorch_model-00001-of-00002 = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/facebook/esm2_t36_3B_UR50D/pytorch_model-00001-of-00002.bin'
    esm2_pytorch_model-00002-of-00002 = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/facebook/esm2_t36_3B_UR50D/pytorch_model-00002-of-00002.bin'
    esm2_pytorch_model.bin.index = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/facebook/esm2_t36_3B_UR50D/pytorch_model.bin.index.json'
    esm2_special_tokens_map = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/facebook/esm2_t36_3B_UR50D/special_tokens_map.json'
    esm2_tokenizer_config = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/facebook/esm2_t36_3B_UR50D/tokenizer_config.json'
    esm2_vocab = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/facebook/esm2_t36_3B_UR50D/vocab.txt'
}

process {
    withLabel: chai-1 { container = "{{chai-1:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
