params {
    msa_directory = ''
    template_hits_path = ''
    pdb_divided_path = "s3://{{S3_BUCKET_NAME}}/ref-data/pdb_divided/"
    pdb_obsolete_path = "s3://{{S3_BUCKET_NAME}}/ref-data/pdb_obsolete/"
    model_parameters = 's3://{{S3_BUCKET_NAME}}/ref-data/chai/'
    recycle_msa_subsample = 0
    num_trunk_recycles = 3
    num_diffn_timesteps = 200
    num_diffn_samples = 5
    num_trunk_samples = 1
    seed = ''
    
}

process {
    withLabel: chai1 { container = "{{chai-1:latest}}" }
}

docker {
    enabled = true
    runOptions = "--gpus all"
}
