params {
    num_str_designs_per_target = 5
    num_seq_designs_per_str = 5
    complex_Fold_base_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/rfdiffusion/Complex_Fold_base_ckpt.pt"
    proteinmpnn_ckpt = "s3://{{S3_BUCKET_NAME}}/ref-data/proteinmpnn/abmpnn.pt"
}

process {
    withLabel: predict { container = "{{rfdiffusion:latest}}"}
}
